:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --selected: rgb(192, 192, 192); 
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

/* Container */

#container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  120px auto;  
    min-height: 100vh;  
    height: 100%;
}

/* Header */

#header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    margin: 0;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: flex; 
    align-items: center;
    justify-content: start;
    padding-left: 2%; 
    gap: 1%; 
    min-height: 80px; 
    height: 120px; 
}

#header--title {
    font-size: 3rem;
}

#header--icon {
    filter: invert(1); 
    height: 4rem; 
}

/* Content */

#content {
    border-bottom: 2pt solid black; 
    grid-column: 1 / 7;
    margin: 0;
    display: flex; 
    flex-direction: row;
    padding-bottom: 60px; 
}

#sidebar {
    display: flex; 
    flex-direction: column;
    justify-items: flex-start; 
    background-color: var(--secondary-light);
}

#sidebar--projectsBase, #sidebar--projectsExtra {
    width: 20vw;
    padding-top: 0.5rem; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    min-width: 210px;
}

.sidebar--projectContainer {
    display: flex; 

}

.button {
    display: grid; 
    grid-template-columns: 1fr 4fr 1fr;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-items: start;
    justify-content: start;
    padding: 2% 5%;
    background-color: var(--secondary-light); 
    border: 0pt solid black; 
    border-radius: 4px; 
    margin-bottom: 5px;
} 

.button:hover {
    background-color: var(--selected);
}

.button:active {
    font-weight: 600;
}

.label {
    font-size: 1.2rem;
}

.icon {
    padding-right: 10px; 
    height: 2rem;
}

#createProjectForm-form {
    display: flex; 
    flex-direction: column;
    width: 80%;
    padding: 2% 5%;
    gap: 0.3rem;

}

#project-name {
    width: 100%; 
    height: 2rem; 
    background-color: var(--secondary-light);
    border-radius: 4px;
}

#project-submit {
    width: 100%; 
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    height: 2rem; 
    border-radius: 8px;
}

#sidebar--projectsTitle {
    padding-left: 7%;
    padding-top: 1.5rem; 
    padding-bottom: 0rem; 
    font-size: 1.3rem;
}

.deleteProject {
    border: 0 solid black; 
    background-color: #00000000;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.deleteProject:active {
    background-color: var(--selected);
}

.deleteProjectIcon {
    height: 2rem;
}

#list {
    background-color: var(--primary-light);
    height: 100%; 
    width: 80vw;
    display: flex; 
    flex-direction: column;
}

.project--title {
    padding-left: 15%; 
    padding-right: 15%; 
    padding-top: 30px;
    padding-bottom: 30px; 
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

.task--display {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 2fr 0.5fr 0.5fr;
    gap: 0;
    border: 2pt solid black; 
    border-radius: 8px;
    padding: 1%; 
}

.task--display > p {
    grid-column: auto; 
    font-style: normal; 
    font-weight: 400;
    font-size: 0.8rem; 
}

.task--delete, .task--strikethrough {
    border: 0px solid black; 
    background-color: var(--primary-light); 
}

.task--delete:active, .task--strikethrough:active {
    background-color: var(--selected);
}

.task--deleteIcon, .task--strikeIcon {
    height: 1.2rem;
}

#list--title {
    padding-left: 15%; 
    padding-top: 30px;
    font-size: 2rem;
}

/* Footer */

#footer {
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    height: 60px;
    margin: 0;
    background-color: var(--primary-dark);
}

